@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Oswald, sans-serif ;
    font-weight: 600;
    color: rgb(76, 70, 70);
    letter-spacing: 1px;
    max-width: 100%;
}

/* heading style */
h1 {
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(33, 78, 13);
}
#heading {
    float: left;
    font-size: 300%;
    padding-bottom: 50px;
    color: rgb(33, 78, 13);
    font-family: Bebas Neue, sans-serif;
    height: 50px;
}

/* menu styling */
#menu {
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 120%;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    letter-spacing: 2px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu, #heading {
    line-height: 100px;
}
#menu a:hover {
    border-bottom: 1px solid rgb(76, 70, 70);
    font-size: larger;
    font-weight: bold;
}
.active {
    background-color: lightgray;
}

/*hero image*/
#hero-image {
    height: 100%;
    width: 100%;
    background: url("../images/hero-3.jpg") no-repeat center bottom;
    overflow: hidden;
    background-color: rgb(33, 78, 13);
}
#hero-animation{
    height: 350px;
    width: 100%;
    overflow: hidden;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{ 
        transform: scale(0.9);
    }
    to{
        transform: scale(1);
    }
}
/* the written area */
h2 {
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: rgb(33, 78, 13);
    font-family: Bebas Neue, sans-serif;
}
h2 i {
    padding-left: 2px;
}
p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
}
.background {
    background-color: lightgrey;
    position: relative;
    margin-top: -1%;
}

/* table */
#table {
    text-align: center;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.table-heading {
    text-decoration: 3px underline solid;
    padding: 1px;
    font-weight: 900;
    font-size: 110%;
    text-transform: uppercase;
}
/* footer */
footer {
   
}
.footer-list {
    color:rgb(33, 78, 13);
    text-align: center;
}
.footer-list li {
    display: inline;
    padding: 1%;
    padding-inline: 5%;
}
.footer-list i {
    color: rgb(33, 78, 13);
    font-size: 200%;
    position: relative;
    margin-top: 1%;
    
}